<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoContra" version="1.0.2" targetFramework="net471" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net471" />
  <package id="DynamicData" version="6.13.9" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.Rx" version="1.1.0" targetFramework="net471" />
  <package id="EntityFramework.Triggers" version="6.1.0" targetFramework="net471" />
  <package id="EntityFramework.TypedOriginalValues" version="1.1.0" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net471" />
  <package id="FontAwesome5" version="2.0.0" targetFramework="net471" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="ReactiveUI" version="10.3.6" targetFramework="net471" />
  <package id="ReactiveUI.Validation" version="1.4.1" targetFramework="net471" />
  <package id="ReactiveUI.WPF" version="10.3.6" targetFramework="net471" />
  <package id="Redux.NET" version="2.0.0" targetFramework="net472" />
  <package id="Splat" version="9.1.1" targetFramework="net471" />
  <package id="Splat.Drawing" version="9.0.5" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="4.1.5" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net471" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net471" />
</packages>